<NEWLINE>
==========================================================================<NEWLINE>
Playback of game id: {{=it.gameId}} ({{=it.totalGameTicks}}) game ticks<NEWLINE>
==========================================================================<NEWLINE>