.gradle
build/
node_modules

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IntelliJ
.idea
*.iml
*.ipr
*.iws
out

# OSX
.DS_Store

snakebot-js/node_modules

